html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.footer,
.header {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  height: 50px;
  border-bottom: 1px solid #eaeaea;
}
.header a {
  margin: 0 10px;
  transition: all 0.3s;
  border-bottom: 2px solid transparent;
}

.header a:hover {
  border-bottom: 2px solid rgb(51, 119, 165);
}
.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}
